# SPDX-FileCopyrightText: 2026 BlueBell-XA
# SPDX-License-Identifier: CC0-1.0

[gcode_macro SPOOLMAN]
description: Holder macro populated by spoolman2klipper
variable_spool_id: -1
variable_filament_name: "''"
variable_material: "''"
variable_vendor: "''"
variable_color: "''"
variable_extruder_temp: 0
variable_bed_temp: 0
variable_diameter: 0.0
variable_density: 0.0
variable_remaining_weight: 0.0
variable_filament_weight: 0.0
gcode:
  {action_respond_info("Spoolman data holder macro")}

[gcode_macro PRINT_START_EXAMPLE]
description: Example of reading spoolman2klipper variables from another macro
gcode:
  {% set spool = printer["gcode_macro SPOOLMAN"] %}
  {% if spool.extruder_temp > 0 %}
    M104 S{spool.extruder_temp}
  {% endif %}
  {% if spool.bed_temp > 0 %}
    M140 S{spool.bed_temp}
  {% endif %}
