# SPDX-FileCopyrightText: 2026 BlueBell-XA
# SPDX-License-Identifier: GPL-3.0-or-later

# Moonraker update manager configuration for spoolman2klipper.
#
# Include this file from moonraker.conf:
# [include moonraker-spoolman2klipper.cfg]

[update_manager spoolman2klipper]
type: git_repo
channel: dev

# Path to the checked-out repo on the printer.
path: ~/spoolman2klipper
virtualenv: ~/spoolman2klipper/venv

origin: https://github.com/BlueBell-XA/spoolman2klipper.git
primary_branch: main
requirements: requirements.txt
managed_services: spoolman2klipper
info_tags:
    desc=spoolman2klipper
